[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
scikit-learn = "==0.24.1"
tensorflow-cpu = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
