<!DOCTYPE html{
overflow-x: hidden;}>

<html>

<head>
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
</head>

<body>
    <nav>
        <div class="menu">
            <a href="/" class="button warning">Home Page</a>
            
        </div>
        <a href="/" class="brand"><span>Kickstarter Plots</span></a>
        <p><br><br>This project takes in kickstarter data and seeks to predict if a kickerstarter campgain will be successful or not. <br><br> 
        Below Is The Confusion And Correlation Matrix Of Our Data</p>
        
        <span class="image">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/q1J07Kg/confusionmatrix.png" alt="confusionmatrix" border="0"></a>
            <a href="https://ibb.co/vhVfvgc"><img src="https://i.ibb.co/nB648Zw/correlationmatrix12.png" alt="correlationmatrix12" border="0"></a>
        </span>
        
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">Menu</label>

        
    </nav>

    
</body>

</html>
